.transparent-toolbar {
  --background: transparent;
  --ion-color-base: transparent;
  --ion-toolbar-background: transparent;
  backdrop-filter: blur(10px); /* Optional: adds a frosted-glass effect */
  box-shadow: none; /* Optional: removes shadow */
}

:root {
  --ion-color-primary: #008000;
  --ion-color-secondary: #fd100c;
  --ion-color-tertiary: #ff9e2a;
  --ion-color-success: #0074c8;
}

.input-field {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
  --placeholder-color: var(--ion-color-medium);
  --border-radius: 8px;
  --padding-start: 20px;
  --padding-end: 20px;
  border: 1.5px solid #008000;
  border-radius: 50px;
  margin: 15px 20px;
}

.checkbox-field {
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
  margin: 15px 20px;
}

.floating-label-dark {
  --color: var(--ion-color-dark);
  --placeholder-color: var(--ion-color-medium);
  --background: var(--ion-color-light);
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
}

/* Example of a custom button style */
.custom-button {
  --background: #008000;
  --color: white;
  --border-radius: 50px;
  --padding: 12px 24px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 15px 20px;
}

.custom-button:hover {
  --background: #008000;
}

/* Example of a custom card style */
.custom-card {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
  --border-radius: 12px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --padding: 16px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.logo-image {
  width: 200px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 50px auto 10px auto;
  display: block; /* Ensure centering works */
}

.ion-text-center {
  text-align: center;
  color: dimgray;
  display: block;
  margin: 30px auto 0 auto; /* 40px top margin, centered horizontally */
  font-size: large;
}

.block {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal::part(content) {
  --height: 70%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.otp-row {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.auth-ion-content {
  --padding-bottom: 50%;
}

.otp-box-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 25px;
}

.otp-box {
  width: 40px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid var(--ion-color-primary);
  border-radius: 8px;
  margin: 5px;
  --padding-start: 0;
  --padding-end: 0;
}

.custom-button-position {
  position: absolute;
  top: 60px;
  left: 20px;
}

.circular-menu-button {
  background-color: var(--ion-color-primary);
  color: white;
  border-radius: 50%;
  width: 40px; /* Set width */
  height: 40px; /* Set height equal to width for a perfect circle */
  padding: 0; /* Remove padding to ensure the icon is centered */
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-custom-action-sheet .action-sheet-group {
  background-color: #1e1e2f; /* Dark background */
  color: white;
  border-radius: 12px;
  margin: 5px;
}

.my-custom-action-sheet .action-sheet-title {
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
  color: var(--ion-color-tertiary);
}

.my-custom-action-sheet .action-sheet-button {
  color: lightgray;
  font-size: 1rem;
}

.my-custom-action-sheet .action-sheet-button-destructive {
  color: var(--ion-color-secondary) !important;
}

.absolute-bottom-bar {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.absolute-top-bar {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-up {
  animation: fadeSlideUp 0.4s ease-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.transparent-header {
  --background: transparent;
  --ion-background-color: transparent;
  box-shadow: none;
}

.card-style {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  border-radius: 12px;
}


