<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>iPick Driver</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSCameraUsageDescription</key>
		<string>We use your camera to allow you to take a photo of your profile picture or required
			documents during registration.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We access your photo library so you can upload delivery documents or profile photos.</string>

		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>We save a copy of your profile picture or uploaded documents to your photo library
			for your records.</string>
		<!-- Location Permission (While Using the App) -->
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We use your location to assign deliveries and provide real-time navigation during
			active jobs.</string>

		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We use your location in the background to update delivery status and ensure accurate
			tracking while you are on a job.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>location</string>
		</array>
		<key>NSMicrophoneUsageDescription</key>
		<string>We need access to your microphone to record audio.</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UIStatusBarHidden</key>
		<true />
		<key>UIStatusBarStyle</key>
		<string />
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<true />
	</dict>
</plist>